<header class="header-image" style="margin-top: -60px">
    <div class="headline">
        <div class="container">
            <h2>Vapor</h2>
            <h3>The best place to buy or sell your stuff</h3>
            <%= link_to 'Sell a product', new_product_path, class: 'btn btn-success btn-lg' %>
            <%= link_to 'See all Products', products_path, class: 'btn btn-success btn-lg' %>
        </div>
    </div>
</header>
